#root {
  width: 100vw;
  height: 100vh;
  background-image: url("./warming_strip.png");
  background-size: 100%;
  background-repeat: repeat;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}
.App > div {
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.info-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.info-btn {
  width: fit-content;
  padding: 0.5rem;
}

/* .info-textbox {
  text-align: center;
} */
.info-textbox .focus-input {
  display: block;
  padding: 0.5rem;
  padding-left: 0;
  padding-bottom: 1.5rem;
}
/* .focus-input input[type="text"] {
  border: 1px solid yellow;
} */
.focus-input input[type="text"]:focus-visible {
  outline: 2px solid cadetblue;
  border: none;
}
.year-error {
  color: red;
  font-size: 0.8rem;
}
.month-btn button {
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  border: 0.5px solid black;
}

.btn-default-color {
  background-color: whitesmoke;
}

.btn-active-color {
  background-color: cadetblue;
}
